//@charset "utf-8";
@import "normalize";

body {
  background-color: #0F7004;
}

div.main {
  background-color: #FFFFFF;
  margin: 35px 50px;
}

div.header {
  background-color: #FFDEAD;
}

div.title {
  padding-left: 30px;
  .subtitle {
    padding-left: 66px;
    font-style: italic;
  }
  a {
    text-decoration: none;
    color: #000000;
  }
}

div.content-row {
  padding: 15px 0px;
}

.momo_scans_ad {
  background-color: #FFDEAD;
  font-weight: bold;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.datestamp {
  margin-bottom: 5px;
}

div.article {
}

img.header {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.image-box {
  padding: 15px 45px;
  .image-box-content {
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding: 3px;
      width: 100%;
    }
  }
  .image-box-caption {
    padding: 5px;
    font-weight: bold;
  }
}

