---
title: Remount Watches for 3/30/15
date: 2015-03-30
tags:
  - Watchlists
---
As a follow up to my post on how to play



 <a title="How to Trade Breakout Remount Setups" href="http://www.greenspudtrades.com/2015/03/30/how-to-trade-breakout-remount-setups/">remount setups</a>, here are some stocks currently on my radar for this setup.

ACN - Earnings beat last week. Interested in a pull to 92 and consolidation for bounce. #gap-up-remount

<%= partial 'image', locals: { filename: '2015/03/Screen-Shot-2015-03-30-at-8.37.39-AM-600x339.png', caption: ''} %>

AVGO - I may have missed the bounce here to the premarket support area on day 1 of the breakout, but still watching. #gap-up-remount

<img class="alignnone size-medium wp-image-1055" src="http://www.greenspudtrades.com/wp-content/uploads/2015/03/Screen-Shot-2015-03-30-at-8.38.54-AM-600x339.png" alt="Screen Shot 2015-03-30 at 8.38.54 AM" width="600" height="339" />

FB - That pull back to the previous resistance area ~82 may have been the remount. I'd buy on a dip with a stop somewhere near 81.25. #gap-up-remount

<img class="alignnone size-medium wp-image-1054" src="http://www.greenspudtrades.com/wp-content/uploads/2015/03/Screen-Shot-2015-03-30-at-8.39.39-AM-600x342.png" alt="Screen Shot 2015-03-30 at 8.39.39 AM" width="600" height="342" />

KR - Previous resistance now support at 73.75 seems to be holding. A little far for short term r/r but may be good on a time horizon of 1 month+. #gap-up-remount

<%= partial 'image', locals: { filename: '2015/03/Screen-Shot-2015-03-30-at-8.47.15-AM.png', caption: ''} %>


LEAF - Driven by an acquisition and earnings beat soon after. It's sitting on the 13EMA. 50.5 a level of interest for support. #gap-up-remount

<img class="alignnone size-medium wp-image-1053" src="http://www.greenspudtrades.com/wp-content/uploads/2015/03/Screen-Shot-2015-03-30-at-8.44.06-AM-600x339.png" alt="Screen Shot 2015-03-30 at 8.44.06 AM" width="600" height="339" />

NKE - Dip to the 97's may have been the bottom. #gap-up-remount<img class="alignnone size-medium wp-image-1052" src="http://www.greenspudtrades.com/wp-content/uploads/2015/03/Screen-Shot-2015-03-30-at-8.44.30-AM-600x341.png" alt="Screen Shot 2015-03-30 at 8.44.30 AM" width="600" height="341" />

OLN - Big pop on the acquisition of unit from DOW last week. Sold off, but may remount around 31 as support. #gap-up-remount<%= partial 'image', locals: { filename: '2015/03/Screen-Shot-2015-03-30-at-8.45.48-AM.png', caption: ''} %>
