---
title: Day Trading Watchlist for 10/13/14
date: 2014-10-12
tags:
  - Watchlists
---
Going into the close Friday, the market was filled with panic. We could be in for another rough week. But.... I think we could also see a bounce on Monday. The S&amp;P500 is sitting right on support at both the 200 day moving average and the 1900 level. Bear market rallies can be strong on the upside.

<%= partial 'image', locals: { filename: '2014/10/Screen-Shot-2014-10-12-at-4.49.18-PM.png', caption: ''} %>


The Ebola stocks are certain to be hot again this week, especially with the news over the weekend that a healthcare worker in Dallas contracted he virus. I'm going to be looking for both long and short plays in all of the usual names: TKMR, CMRX, LAKE, APT. But On Friday we saw action in this new runner AHPI. It traded nearly 4 million shares and has a 4.5 million share float. The action in Ebola stocks seems to have shifted from drugmakers to hazmat equipment makers.
<%= partial 'image', locals: { filename: '2014/10/Screen-Shot-2014-10-12-at-4.55.58-PM.png', caption: ''} %>


EXAS - Up on some positive news regarding CMS reimbursement for Cologuard. On Friday the previous ATH in the mid-23's acted as support. This could potentially be a breakaway gap play. Looking for bullish patterns for entry of possible swing play.
<%= partial 'image', locals: { filename: '2014/10/Screen-Shot-2014-10-12-at-5.04.11-PM.png', caption: ''} %>


OBCI - This boating products maker had a news event last week that they are buying out their <span style="color: #000000;">JV partner's interest in OdorStar Technology, LLC. That caused a spike, but it may be fading off now.
<%= partial 'image', locals: { filename: '2014/10/Screen-Shot-2014-10-12-at-4.58.54-PM.png', caption: ''} %>

</span>