---
title: Product Review- InvestorsLive Textbook Trading DVD
date: 2014-11-05
tags:
  - Product Reviews
---
<%= partial 'image', locals: { filename: '2014/11/Screen-Shot-2014-11-04-at-8.35.29-PM.png', caption: ''} %>


I used to be a long term investor. Having studied finance in college and afterwards working at a Wall Street investment bank, investing in stocks purely on fundamental valuation was the only way I knew how to play the stock market. Then I found the <a href="http://www.investorslive.com/amember/aff/go/greenspud">InvestorsLive Textbook Trading DVD</a>.

Textbook Trading opened my eyes to the whole world of day trading setups. This DVD gave me a much better understanding of how the stock market really works. The setups it teaches form the foundation that I use every day to make money in the stock market.

Here's a sample from the DVD of Nate discussing one of his favorite setups - the gap up parabolic move.

<iframe src="//www.youtube.com/embed/q-OEaLhcVAc" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>

If you want to make money as a day trader, I highly, highly recommend that you buy this DVD. All it takes is one good trade and it will pay for itself.
<p style="text-align: center;"><%= partial 'image', locals: { filename: '2014/11/Screen-Shot-2014-11-04-Textbook-Trading.jpg', caption: ''} %>

<a href="http://www.investorslive.com/amember/aff/go/greenspud">Click here to find out more about the Textbook Trading DVD</a></p>