---
title: 5 Reasons to Use Hard Stops over Mental Stops
date: 2014-10-20
tags:
  - Trading 101
---
<%= partial 'image', locals: { filename: '2014/10/Screen-Shot-2014-10-17-at-2.34.14-PM.png', caption: 'Respecting your stops keeps your losses contained! Otherwise... they can blow up your account.'} %>


I use stops. But for me they have often been mental stops and not hard stops. I think traders like to use mental stops as opposed to hard stops because they like the flexibility. But the problem with a flexible stop point is that the temptation to defy your plan could allow your small loss to morph into a massive loss. All of my worst trades this year happened because I had a mental stop on a trade and gave it too much wiggle room.

It's always frustrating to take a loss, but here are 5 ideas to consider if your stop point is ever reached and you are indecisive about cutting off the trade:

<strong>1. You are okay with the loss because you already decided how much you are willing to lose before you went into the trade.</strong>

If you are managing your risk correctly, taking the loss on a stop shouldn't hurt. Whenever you enter a trade, you size in according to how much money you are willing to risk. If your stop point is reached and it hurts to eat the loss, then you are playing with too much size.

Here's an example of a double-top short setup. Let's say that you're going to set your stop at the HOD, 45.75. The size of your position will be determined by your entry price and how much you are willing to risk. Let's assume you want to lose no more than $100 on this trade. If your short position entry is at 45.25, you can only short 200 shares because your stop is 0.50 away. The farther away your entry from the stop out point, the smaller of a position size you can use to maintain the same level of risk.

<%= partial 'image', locals: { filename: '2014/10/Screen-Shot-2014-10-17-at-4.08.35-PM.png', caption: ''} %>


This is why getting good entries on a trade is so important. By initiating your position at a price near your stop, you can take a bigger position for the same amount of risk. Expert traders are patient and only take the trade when they can get an optimal price. Expert traders don't chase.

<strong>2. Executing your stop keeps you in control. It prevents your small, predefined loss amount from turning into a much bigger loss. </strong>

Sometimes the stock might dip to your mental stop area and you hesitate on cutting off the trade. This bad habit is my biggest problem in trading. As painful as it is to eat any sort of loss, your stop is there to protect from much bigger losses. Here's a case where I lost much more money than I should have in trading ETN.

This stock was severely beaten down after a disappointing earnings report. Down nearly 20% from its highs, I speculated that it might find support and bounce back up to 70. The intraday dips seemed to be supported, so I took a long position at 66.41 with a mental stop at the recent low of 65.87. My calculated risk was only $216 for what could be a $1,500 swing trade profit if successful.

<img class="alignnone size-medium wp-image-425" src="http://www.greenspudtrades.com/wp-content/uploads/2014/10/Screen-Shot-2014-10-18-at-2.09.51-PM-600x361.png" alt="Screen Shot 2014-10-18 at 2.09.51 PM" width="600" height="361" />

The next Monday ETN gapped down and flushed below my stop out point. The prudent thing to do would have been to stop out immediately when my alert was triggered. Instead, I froze and decided to wait and see what happens. I was banking on the hope that this gap down was a momentary panic at the open which would reverse once the morning volatility settled. It did not. ETN continued to sink and kept retesting the lows. I finally decided to get out at 64.93 - almost a whole dollar below my preplanned stop out point. This trade should have cost no more than $216 in risk but ended up doing over double the damage at $592 simply because I did not use a hard stop.

<strong>3. Not following your plan to stop out will leave you in a state of confusion. Emotions take over.</strong>

If you have a plan to stop out at a certain point and don't follow it, then what will you do if your loss continues growing? I recently took a big loss on XIV because I did not follow my original plan. If you've read my previous blog post <a href="http://www.greenspudtrades.com/2014/09/29/is-now-a-good-time-to-buy-xiv/">Is Now a Good Time to Buy XIV?</a> you would know that I like being long XIV because the contango keeps it steadily moving up over time. However, a risk of this strategy is that XIV could dramatically fall in a sudden downturn of the market. Without cutting off the trade XIV could cost you a lot of money and will take months to recover to its highs.

<%= partial 'image', locals: { filename: '2014/10/Screen-Shot-2014-10-18-at-6.44.49-PM.png', caption: ''} %>


The market was not acting well lately, XIV dipped, and I began building a position with a cost average at around 39. The last 10 times XIV dipped to its 200 day moving average, it bounced. Unfortunately, this time was different. My original plan was to have a mental stop at 35 in case the support level failed.

The time to stop out came on Friday October 10. I had two opportunities during the day to respect the stop and exit my position, but I was reluctant to eat a $4,000 loss. I came up with all sorts of rationale for not stopping out. I told myself, "I would be upset if I stopped out near the bottom." I looked at the VIX and told myself, "The VIX usually tops out around 20. It will probably come back down next week." I rationalized a number of reasons not to follow my original plan which was purely based on the price action.

<%= partial 'image', locals: { filename: '2014/10/Screen-Shot-2014-10-18-at-6.51.51-PM.png', caption: ''} %>


What happened to this trade? That $4,000 loss at my stop out area ballooned to $16,000 as XIV collapsed into the 20's the following week. This was uncharted territory. I was uncertain of what to do because the XIV rarely goes so far below the 200DMA. <em>Emotions took over</em>, and I decided that I've done enough damage to my account. I finally cut off the trade in the mid-20's - which ironically now seems to be the real bottom.

I am currently reevaluating whether I want to get back in for an extended swing trade. This is a rough spot because XIV's recovery time is normally longer than the time it takes to drop to lows.

<strong>4. You can always get back in.</strong>

If the price action reaches your stop out area, then the setup is not acting the way you anticipated. Stopping out gives you time to reevaluate the setup without letting your loss grow bigger. In most cases you can get back into the stock and retry the big picture setup at a better price.

In the example trade on XIV, had I followed the original plan I would be rebuilding my position at a much lower price. I would be trading from a position of advantage because my account would have more buying power. I would be trading a fresh setup and not be fighting back from as big of a loss.

<strong>5. Inefficient use of capital. Opportunity cost of missing other great setups while you bag hold waiting for something to move.</strong>

Finally, if you have a stop out plan that you gave too much flexibility, you're no longer trading. You've just turned your trade into an investment. <em>Investing</em> is contrarian to <em>trading</em> because the use of capital is much less efficient. As a trader, your goal is to build your account as quickly as your skills will allow. This means you need to use your buying power to be in and out of profitable trades in a short time frame. When you're sitting on a trade gone bad, it's just baggage tying up your money that you can be using elsewhere. Don't get attached to any one trade.