---
title: The Most Expensive Haircut of My Life - RWLK trade review
date: 2014-09-12
tags:
  - Trade Recaps
  - Trading 101
---
<span style="color: #232323;">I had the most expensive haircut of my life today! I was long 500 shares of RWLK at 19.10. But I closed out most of it for a very small gain ($74) because I had to leave for a 1pm haircut appointment I scheduled earlier in the week. When I got back I found out that this stock broke out to almost 30! I left the computer just minutes before this breakout began and missed out on close to $5,000. That was an expensive haircut!</span>

I really had no idea that this stock had the mojo to make it up to 30, so I'm just happy that I was able to take a profit at all. It had a really wide range bouncing between the upper 18's and 19.50 for a while and I didn't feel comfortable leaving it with an automatic stop.

In retrospect this was a perfect ABCD breakout setup.  The stock hit a temporary high and sat back. But then it was gearing with higher and higher lows. It coiled up and broke to the upside.

<%= partial 'image', locals: { filename: '2014/09/Screen-Shot-2014-09-12-at-5.23.22-PM.png', caption: ''} %>


This setup is common in hot IPOs, so whatever I missed today I'm sure I can make up for in another day's trade. I think the reason that this setup works so well with IPOs is that you don't have many sellers. It's the first day trading so you don't have any bag holders, it's hard to borrow shares for shorting, and because there is no previous daily chart there are no support and resistance levels for traders to focus on. We got BABA coming next week, and I'll be waiting and watching for it to ABCD!

&nbsp;

&nbsp;