---
title: How to Stop Second Guessing Your Exit Plan and Start Trading
date: 2014-10-21
tags:
  - Trading 101
---
This is the second part of my series about effectively using stops to contain your trading losses. The first part was





 <a href="http://www.greenspudtrades.com/2014/10/20/5-reasons-to-use-hard-stops-over-mental-stops/">5 Reasons to Use a Hard Stop over a Mental Stop</a>.

<%= partial 'image', locals: { filename: '2014/10/Screen-Shot-2014-10-19-at-7.54.54-PM.png', caption: 'When a trade is going against you and your stop out price is hit, SHUT IT OFF!'} %>


I hate taking losses of any sort. Like a prudent trader, I am conscious of risk and make a trading plan for every position I enter. Following that plan is another story. When the moment comes that my stop trigger is hit, it's a frustrating feeling. Too often, I am reluctant to hit that button and close the trade. In this post, I am going to debunk three faulty reasonings which usually cause me to stick with a losing trade that is testing my stop out point. These traps probably affect other traders, especially new traders.
<h3>Faulty Reasoning That Will Get You Stuck in a Bad Trade</h3>
<strong>Faulty Reason #1: Eating the loss is an admission that you're wrong</strong>

Sometimes I want to give a trade more room to work because I feel so certain that I'm going to be right if given more time. This kind of overconfidence is dangerous. The market is the ultimate decider and no matter how confident you feel in the setup you don't have control over the market. It's okay to be wrong.

Even the best traders know that they can't be right all the time. Small losses are a healthy, unavoidable aspect of making good trades. Many of the most successful traders only have a 50% win ratio. The way they are successful is by keeping their losses small and getting a lot of money on their successful trades. These traders realize that admitting when they are wrong and moving on to new setups is just a part of the game.

Trading is not unlike sports. The best baseball players can't hit home runs every time. The best basketball players can't be successful on every shot. If Michael Jordan misses a basket or loses a game, he doesn't feel dejected. He takes the small loss, learns from it, and moves on. <%= partial 'image', locals: { filename: '2014/10/michael-jordan-failure-quote.jpg', caption: ''} %>


<strong>Faulty Reason #2: If I stop out now and the trade eventually works out, I'm going to miss out on profits!</strong>

Technical analysis is not an exact science. Support and resistance areas on a chart are not precise. This makes the placement of stops tricky. You can't always get your stop placement perfectly right, and there will be many instances where you miss an opportunity because the trade moves just far enough to tap your stop before playing out as you originally hoped.

This "fear of missing out" (FOMO) on profits drives people to make dumb investment decisions. FOMO is the phenomenon that causes the dumb money to buy at market tops and sell short at market lows. FOMO keeps you second guessing your plan, wondering if you should modify your stop to be more liberal than you intended.

You will run into the occasional fakeout stock move which makes you miss out on some profit. It's frustrating, but perfectly normal. Don't second guess your plan on the next trade because this happens every once in a while. Following a stringent risk management system is more important because it will keep your losses small on average, protecting you from the big losses that are damaging to your account.

<strong>Faulty Reason #3: Instead of cutting my loss here, maybe I should add to the position?</strong>

Sometimes you find that slam dunk trade where you know you will be right eventually, you just don't know when. This happens frequently on overextended charts. Some junk penny stock might be going parabolic on a news event and you know it will return to penny status once the smoke clears. A quality company may be tanking on a one-off earnings miss and you know it will recover in time. Even if you are right in the long run, how much pain can your account handle? At what point will you no longer have the resolve to fight a trade going against your hypothesis? As John Maynard Keynes says, "The market can stay irrational longer than you can stay solvent." Especially when dealing with momentum stocks, your exit plan needs to be prepared for insanely irrational moves in price.

<%= partial 'image', locals: { filename: '2014/10/Screen-Shot-2014-10-19-at-10.17.02-PM.png', caption: 'The 5 stages of grief by Kate Spade.'} %>


This is how bulls and bear traps are set. The market is making extreme moves. Everyone knows the price action will revert to the mean. They are trying to call a top or bottom.  "It can't go further! This price action is ridiculous!" The market keeps pushing, putting more pain on the stubborn contrarian traders. As the price moves further the "wrong" way, weaker hands using margin are forced by their broker to liquidate, further fueling the move.

Even if you are right tomorrow or several weeks from now, how much pain are you willing to take as the trade runs against you? How much buying power are you willing to lose? How much of a loss can your account withstand before you are forced to liquidate by margin call? And how much more potential profit can you gain because you are too stubborn to stop out now and re-enter the trade at a better price? My suggestion for a trade like this is to not try to catch it on the front end of the move. Instead, wait for confirmation that the momentum is reversing, such as a higher low or lower high.