---
title: Update on Swing Trading Watchlists - Getting More Bearish
date: 2014-09-22
tags:
  - Watchlists
---
I do not like the action in the market today. The Russell 2000 is sucker punched and many of the setups I posted yesterday have broken down. This action reminds me a lot of what the small caps looked like early in the year when they topped out and and had a correction.

<%= partial 'image', locals: { filename: '2014/09/Screen-Shot-2014-09-22-at-1.06.57-PM.png', caption: ''} %>


FEYE, AKAM, TUBE, and GRUB all broke down levels that I would have considered to be supports. There may be opportunities in these again, but with the way the broader market is acting I would rather wait for them to set up again. Other setups that have been troublesome for me include MA, SWHC, ETN, SINA, and PAYX. It's really difficult to swing trade when the market is choppy like this. <span style="color: #323333;">I’m also concerned about how some of the breakouts crashed right back down - like WB or GOGO.</span>

&nbsp;