---
title: How to Properly Draw Trendlines
date: 2014-09-15
tags:
  - Trading 101
---
<em>The New Market Wizards: Conversations with America's Top Traders </em> by Jack Schwager is one of those classic books about the capital markets that every trader and investor should read. I think the interview with Victor Sperandeo is one of the best about equities trading and technical analysis. Here's an excerpt which has greatly helped the way I draw charts and find trendline patterns:
<blockquote><strong>What is the correct way of drawing a trend line?</strong>

In the case of an uptrend line, you draw the line from the lowest low to the highest low immediately preceding the highest high, <span style="text-decoration: underline;">making sure that the connecting point you select does not result in the trend line passing through any prices between the two points</span>.

Once the trend line is broken, I then <span style="text-decoration: underline;">look for an unsuccessful test of the recent high</span>. This failure may take the form of prices reversing below the previous high or, in some instances, prices might actually penetrate the previous high by a modest amount and then break. In the case where prices penetrate the previous high, a pullback below that high would serve as confirmation of a failed test of the high. The third and final confirmation of a trend change would be the downside penetration of the most recent relative low.</blockquote>
In my observations of applying trendlines to my own charts, I also notice that the steeper the slope of your trendline, the sooner it is likely to break. A trendline with less slope tends to correlate with bigger, longer term moves in prices. When figuring out entries or exits for my trades using trendlines, I often redraw them to better fit what I'm seeing with the latest price action.