---
title: The Hidden Cost of Chasing Trades
date: 2014-10-30
tags:
  - Trading 101
---
<%= partial 'image', locals: { filename: '2014/10/Screen-Shot-2014-10-28-at-5.41.52-PM.png', caption: ''} %>


New traders often struggle with market swings due to the temptation to chase price movements. It's an easy mistake to make. You see a setup on the chart that looks imminently ready to break out. You don't want to be late to the move, so you enter a full position by hitting the offer. But then a half hour later, it grinds back down to a price that would have been a much better entry. You nervously wonder if it will come back to your breakeven point. Sound familiar?

Traders chase trades because of a familiar enemy - the Fear of Missing Out. That line of thought - "I'd better get in now so I don't miss the trade!" - is what causes you to get into a potentially good setup at a bad price. Chasing trades will substantially hurt your profitability in the long run. Here are some of the reasons professional day traders rarely use market orders and would rather patiently wait for a better entry price.

<strong>1. You pay for the spread</strong>

Like going to a convenience store, when you chase a trade you pay a premium for getting what you want <em>now</em>. In stocks we call this premium the <em>spread</em>. The cost of the spread may seem small, but over time it will severely impact your performance as a day trader. There are cases when hitting the bid or offer may be worthwhile, but in most cases it is unnecessary.

<%= partial 'image', locals: { filename: '2014/10/Screen-Shot-2014-10-28-at-10.18.29-PM.png', caption: ''} %>


In this picture of a Level 2 above, the best bid price on P is 26.79 and the best offer is 26.89. That means if you want to buy Pandora stock right now, you would have to pay for the spread by buying your shares at the offer. What if you decide to get out of the trade later with a market order? You would be paying the spread by hitting the bid. So an impatient trader is paying an extra 0.20!  (That's 0.10 on both ends of the trade.) On 1,000 shares thats $200.

<strong>2. You may pay the ECN Fees </strong>

Depending on your broker, a market order can cost you ECN fees. These are fees charged by the stock exchange to those who take liquidity (i.e. hit the bid or offer). A typical ECN fee is 0.003 per share.

Exchanges also offer incentive payments called rebates to traders who add liquidity. If you place a limit buy order below or at the bid, you will receive an ECN rebate if your order gets filled. These rebates are typically 0.002 per share.

<%= partial 'image', locals: { filename: '2014/10/Screen-Shot-2014-10-30-at-1.22.36-PM.png', caption: 'ECN fee table from Interactive Brokers. These rates are typical exchange fees/rebates. Check with your broker to determine whether your arrangement includes ECN fees.'} %>


Consider the impact of collecting rebates versus paying them out. It's a whole half a penny difference. When you add the cost of closing the trade, you're losing a whole penny per trade. Those pennies add up. It's much better to be a collector of ECN rebates to help offset commission than to pay the ECN fees <em>in addition to</em> your commission.

<strong>3. A poor entry skews your risk/reward profile to be less favorable </strong>

The most successful traders manage their risk so that losses are small and the winning trades win big. Impulsive traders who chase entries undermine this balance. When you chase a stock, your price target is closer and your stop loss point is farther away. So a chase both increases your risk and reduces your potential profits. Over a series of many trades this statistically makes you less profitable.

Consider the following chart of CMCM double bottom setup. Suppose you are risking to the low of 15.78 and have an initial profit taking target of 19.50. Depending on where you entered the trade, your risk profile on this trade will vary tremendously.

<img class="alignnone size-medium wp-image-511" src="http://www.greenspudtrades.com/wp-content/uploads/2014/10/Screen-Shot-2014-10-30-at-2.16.29-PM-600x356.png" alt="Screen Shot 2014-10-30 at 2.16.29 PM" width="600" height="356" />

If you entered at the high of day, 17.78, you are risking a potential $2,000 loss if you have to stop out for a potential $1,720 reward - your potential loss is much bigger than the capital you could lose if the trade doesn't work out. This is unfavorable because over the course of many trades your bigger losses will eat away at your account.

If you waited for a better entry, closer to 17.00, your risk/reward ratio is much closer to 2:1. Over the long term this type of r/r will pay off because your wins will easily outsize losses.
<h3>How to Deal with the Fear of Missing Out</h3>
Stocks usually don't bee line in one particular direction. They trend. They gyrate up and down in a range before making a big move. Rather than chase by getting into a stock immediately, it's better to be patient with a limit order waiting for the stock to swing a little bit in your direction.

To be a good trader you need a sniper-like mentality to choosing which trades you enter. A lot of profitable trades will get away, but by sticking to good discipline the trades you do engage will be much more successful. Losers will be less impactful. It's better to set yourself up to win big occasionally than try to prove yourself right most of the time and engage suboptimal setups. The habit of bad entries will hurt the day you have to incur a big loss that wipes out your previous gains.

&nbsp;