---
title: The Dangers of Swing Trading XIV
date: 2015-01-02
tags:
  - Market Commentary &amp; Analysis
  - Trading 101
---
<blockquote>You think you're safe... you're not! --Khan</blockquote>
<%= partial 'image', locals: { filename: '2014/12/Screen-Shot-2015-01-01-at-11.51.22-AM.png', caption: ''} %>


For over two years XIV continuously provided attractive returns, driven by VIX futures contango and historically low volatility. That trend may now be changing. 2014 was a rough year for XIV. For the first time since 2011 it closed lower at the end of the year than the beginning of the year. In October, it broke to the downside of the 200DMA and has not yet recovered. Dip buying no longer seems a safe bet.

<%= partial 'image', locals: { filename: '2015/01/Screen-Shot-2015-01-02-at-4.07.02-PM.png', caption: ''} %>


For XIV longs, 2015 will probably bring more chop. It will still probably bring plenty of good trades, but only the most prudent managers of risk will come out ahead. In this environment, a buy and hold mentality will probably not yield the same returns as it has in 2012 and 2013. Here are some ideas on why the fundamentals driving XIV may be different going forward.

<strong>1. The end of QE means traders will have to hedge for themselves</strong>

For the past several years, the Fed pumped money into the financial system through programs like quantitative easing. Such policies encouraged risk taking because the Fed's market-friendly stance meant that Yellen or Bernanke would intervene to lessen the blow of any significant decline in the market. Why hedge your positions if the helicopter policies of the Fed would prop the markets for you? Now that quantitative easing is officially over and interest rates are set to go up, that "buy the freakin' dip" mantra is no longer a no brainer.

<iframe src="//www.youtube.com/embed/0akBdQa55b4" width="420" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>

<strong>2. VIX may return to historic norms for volatility - 20 average from the 1990s</strong>

The absence of a Yellen put means that traders may have to buy their own puts, which could mean a higher VIX. VIX is a formula derived from the premiums on stock options. If more people are buying options for hedging, then we will see a higher VIX.

XIV traders have been spoiled by a VIX reflective of complacency in the markets. For the past several years its hovered in the low teens, making a series of lower lows. Historically, the long term average of VIX is closer to 20, which becomes apparent when you look at a chart dating back to the 90s.  If the VIX reverts to the old normal it could lead to more chop and less contango to juice XIV returns.

<%= partial 'image', locals: { filename: '2015/01/Screen-Shot-2015-01-02-at-4.15.14-PM.png', caption: ''} %>


<strong>3. The farther XIV drops, the harder it will be for it to recover</strong>

According to the prospective for XIV, its performance is designed to mimic the inverse <em>daily</em> returns of the VIX:
<blockquote>[The VelocityShares Daily Inverse VIX Short-Term ETN (XIV)] is linked to the inverse of the daily performance of the S&amp;P 500 VIX Short-Term Futures™ Index ER less the investor fee... The ETNs are linked to the<strong> daily inverse return</strong> of the index and <strong>do not represent an investment </strong>in the inverse of the VIX.</blockquote>
The effect of this is that an extensive pullback in the market could be more damaging to a long position in XIV than to a short position in VXX or UVXY. As XIV shrinks, the harder it is for it to recover from the drawdown because a 50% single day drop in XIV means that it would have to move 100% to get back to even. Likewise, a 50% single day pop in VXX means it only has to drop 33% to get back to even.

Consider the following hypothetical scenario. XIV and VXX are at the same value of 100. Then in a single day there is a 60% pop in volatility. VXX would rise 60% to 160 and XIV's move would do the inverse, dropping 60% to a value of 40. Now over the next 7 days volatility tapers off, dropping a little bit each day. Those returns are compounded into the daily prices of XIV and VXX. But because XIV took such a large percentage hit, it will take much longer to get back to even than VXX.

<%= partial 'image', locals: { filename: '2015/01/Screen-Shot-2015-01-02-at-4.16.28-PM.png', caption: ''} %>


This percentage compounding effect may explain a lot in why XIV's long term moves are not as dramatic as VXX. The one thing that I do like about XIV long better than shorting VXX is that in a worst case scenario, the most you can lose on XIV is the amount you put in. VXX on the other hand can more can double in a volatility spike which would be much more destructive to an account. Therefore, I am more comfortable holding XIV overnight since there is a cap on risk.

<strong>4. The inverse volatility trade is getting crowded</strong>

<a href="http://wolfstreet.com/2014/11/09/the-great-volatility-crush/" target="_blank">According to Mauldin Economics</a>, the retail investor crowd has taken notice of XIV's incredible returns and the retail appetite for inverse volatility is the highest its ever been. 2014 was the first year in history where the public was <em>net short</em> volatility. Could it be any coincidence that this milestone in public sentiment occurred at the same time that XIV's stellar returns began to falter?

<strong>Final Word</strong>

XIV remains one of my favorite trading vehicles, along with UVXY. Volatility is one of the best ways to play moves in the broader stock market. However, as we enter a new era of Fed policies the long term return on XIV is more uncertain. Always have an exit plan for your trade to limit losses.