---
title: How to Scale Into a Winning Trade Using Price Action Confirmation
date: 2015-01-25
tags:
  - Trading 101
---
<%= partial 'image', locals: { filename: '2015/01/Screen-Shot-2015-01-24-at-9.08.35-PM.png', caption: ''} %>


One of the things I am trying to improve upon in my trading is better entries. I used to think that a "better entry" means adding into a trade so that your cost average gets closer to your stop. But sometimes if the price action moves closer to your stop, it could also be a sign that the price action is moving in the wrong direction, increasing your chances of stopping out and eating a bigger loss. So I'm working on a new approach to adds by asking the question: <strong>Is the price action working the way I anticipate?</strong> If the answer is yes after some period of time, then I begin adding to the position.

Here is an example of how I traded ASPX on Friday. This is a stock that I have been watching for several weeks. On Thursday, it broke below a critical support level at 54.60, and I was looking for intraday setups that I could short under the theory that Thursday afternoon's price action was a bear flag and ~54.60 would peak out before starting to act as a level of resistance.

<%= partial 'image', locals: { filename: '2015/01/Screen-Shot-2015-01-24-at-8.43.11-PM.png', caption: ''} %>


At the open, ASPX flushed down to the 52's, but then something I didn't expect started to happen. It came back up above the VWAP and above my expected resistance level 54.60. This stock was strong and not acting the way I was anticipating. I put my bearish bias aside to realize that it had a good chance to squeeze through r/g. However, I didn't have the confidence to put a lot of size in on it so I went long just 25 shares. My initial stop was at 56.10 for a risk of about $25.  My target was somewhere above 57.00, only a 1:1 risk/reward but I planned on adding if the trade started behaving the way I expected and raising that stop to reduce potential losses.

<%= partial 'image', locals: { filename: '2015/01/Screen-Shot-2015-01-24-at-8.43.42-PM.png', caption: ''} %>


&nbsp;

I actually set two stops on this trade. I set a stop order below in which I would eat a loss, but I also set a stop <em>above</em> at 56.50. My thinking was that if the stock starts moving above the HOD, then it is most likely poised for r/g. Sure enough, it started gearing higher and I added to the position at 56.50. I began taking profits as it closed in on 57.00.

<strong>What I Could Have Done Better In This Trade</strong>

The risk/reward in this trade was not ideal. At best, it was somewhere between 1:1 or 1.50:1.00. The main thing that made me take it was starting in with very small size and then feeling more confident in it when the price action started acting favorably. When I placed the add, even with the raised stop my dollar risk became $75 and I only got $55 of profit.

This trade was also affected by <a title="Don’t FLOG Yourself (Fear Losing Outstanding Gains)" href="http://www.greenspudtrades.com/2014/12/14/dont-flog-yourself-fear-losing-outstanding-gains/">FLOG</a> (Fear of Losing Outstanding Gains). I wrote extensively about FLOG in a previous post. Had my profit-taking actions matched my confidence that this trade would hit my profit target above 57, I would have made closer to $100 on this trade.

<strong>The Main Thing I Learned From This Trade</strong>

Trading is a numbers game. It's all about managing losses so that your winners outsize the losers. One way you can limit your risk is by playing with very small size to start a position. If you see an interesting setup and are uncertain about whether it will play out as you anticipate, then start in small. Treat the setup as a hypothesis that you want to test. If the price action starts acting like you thought it would, then you can add in with more size because your hypothesis is being confirmed.

&nbsp;